<div *ngIf="currentRound; else showInstructions" [ngClass]="selectedTheme.className">
  <div class="round-controls">
    <div class="buttons">
      <button (click)="onPreviousRound()">Previous</button>
      <button (click)="onToggleGame()">{{ isRoundPlaying ? 'Pause' : 'Play' }}</button>
      <button (click)="onNextRound()">Next</button>
      <button (click)="onRestart()">Restart</button>
    </div>

    <select [value]="selectedTheme.className" (change)="onChangeTheme($event.target.value)">
      <option *ngFor="let theme of themes" [value]="theme.className">{{ theme.name }}</option>
    </select>
  </div>

  <app-round-display playerName="Player One" [showDetails]="showDetails" [gameState]="currentRound.playerOneState"></app-round-display>
  <app-round-display playerName="Player Two" [showDetails]="showDetails" [gameState]="currentRound.playerTwoState"></app-round-display>
</div>

<ng-template #showInstructions>
  <div class="instructions">
    <h4>Round Runner</h4>
    <p>Looks like something went wrong..</p>
    <p>Have you done the following?</p>
    <ol>
      <li>
        <p>Paste the rounds from the generated match-logs in the <strong>src/assets/rounds</strong> directory</p>
        <p>Initially there will be 5 rounds in this directory as an example</p>
      </li>

      <li>
        <p>Rename the folder to <strong>rounds</strong></p>
        <p>For example <strong>2020.04.04.14.53.15</strong> to <strong>rounds</strong></p>
      </li>

      <li>
        <p>In the <strong>custom-config.ts</strong> file specify the directory names for the players found in any of the round folders</p>
        <p>For example in a round folder:  src/assets/Round 001</p>
        <p>The two player directories are A - Bob and B - Fred</p>
        <p>Copy the directory names for the players:</p>
        <ul>
          <li>export const PLAYER_ONE_DIR = 'A - Bob'</li>
          <li>export const PLAYER_TWO_DIR = 'B - Fred'</li>
        </ul>
      </li>
    </ol>
  </div>
</ng-template>

